<form [formGroup]="userForm" #userFormDirective="ngForm" (ngSubmit)="submit(userFormDirective)"  class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput name="name" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput name="email" formControlName="email">
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="!userForm.valid">Submit</button>
</form>
